
.image-wrapper{
    margin: 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    border: 1px solid black; /* Aggiunge un bordo per mostrare il div */
    height: 300px;
}

.immagine-tonda {
	width: 200px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}
